.bn_header {
    background-color:  $BN-TOPNAV-BGR;
    position: relative;
    
    &-logo {
        background-color: $BN-BLACK;
        font: 2em bold $BN-FONT-BASE;
        padding: 0 13px;
        height: 78px;
        line-height: 78px;
        margin-right: 5px;
        display: block;
        color: $BN-WHITE;        
    }
    &-account {
        position: absolute;
        top: 14px;
        right: 14px;
        &__link{
            color: #69abf5;
            &--icon {
                background-repeat: no-repeat;
                height: 36px;
                background-size: 35px;
                background-image:url(../../img/icon-profiles-sprite.png); 
                background-position: 12px 0;
                display: block;
                .bn_login & {
                    background-position: 12px -37px;
                }
            }
            &--label {
                color: $BN-TOPNAV-ACTIVE;
                text-transform: uppercase;
                white-space: nowrap;
                font: 0.75em bold $BN-FONT-BASE;
            }
        }
       
    }
    &__top {
        flex: 1;

        &-wrapper {
            flex: 1;
            align-self: center;
            margin-right: 100px;
        }
    }
    
    &__search-expand {
        font-size: 29px;
        line-height: 1;
        width: 30px;
        height: 30px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #929292;
        background-color: $BN-WHITE;  
        float: right;
        margin-left: 1px;       
    }
    &__search-box {
        float: right;
    }
    &__search-input {
        background-color: $BN-WHITE;
        width: 145px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        height: 30px;
        padding: 0 3px;
        border: 0;
        font: 0.8em bold $BN-FONT-BASE;
        outline: none;
        margin-left: 1px;
    }
    

}
.bn_top-nav {
    &__list {
        height: 78px;
        line-height: 78px;
    }
    &__item {
        display:inline-block;        
    }
    &__link {
        text-transform: uppercase;
        font: bold 1.071em $BN-FONT-BASE;
        color: $BN-BLACK;        
        padding-left: 10px;
    }
    &__link:hover {
        color: $BN-TOPNAV-ACTIVE;
    }
    &--active {
        color: $BN-TOPNAV-ACTIVE;
        position: relative;
    
    &:before {
        content: '';
        display: block;
        height: 2px;
        background-color: $BN-TOPNAV-ACTIVE;
        width: calc(100% - 10px);
        position: absolute;
        bottom: -2px;
        left: 10px;
    }
    }
    
}